body {
    font-family: Helvetica, Arial, sans-serif;
}

.c-carousa11y__list {
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 400px;
    height: 200px;
}

.c-carousa11y__slide {
    transition: transform .3s ease 0s, visibility 0s linear .3s;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    &.s-carousa11y__slide--next {
        transform: translateX(100%);
    }

    &.s-carousa11y__slide--previous {
        transform: translateX(-100%);
    }

    &.s-carousa11y__slide--current {
        transform: none;
        transition: transform .3s ease 0s;
        visibility: visible;
        z-index: 10000;
    }
}